<div class="col-md-12" style="background-color: #008B8B;">
    <div style="float:left; font-weight: bold; font-size: 20px;color:white;">Usuarios</div>
</div>
<table class="table table-hover">
    <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Coche</th>
        <th colspan="2">
            <a routerLink='/nuevousuario'>
                <span class="	glyphicon glyphicon-plus "></span>
                <span class="	glyphicon glyphicon-user"></span>

            </a>
        </th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{ user.dni }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.coche }}</td>
        <td> <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="deleteUser(user)"></span> <span class="glyphicon glyphicon-pencil" aria-hidden="true" (click)="selectUser(user)" [class.active]="user === activeUser"></span> </td>
    </tr>
    <!--tr>
        <td colspan="5">
            <user-form (userCreated)='onUserCreated($event)'></user-form>
        </td>
    </tr-->
</table>
<footer class="text-center"> Copyright &copy; 2016 </footer>